@media screen and (min-width: 1px) {
  body {
    background-color: #ccffcc;
    color: black;
  }
}

.infoDiv {
  background-color: white;
  color: black;
}

@media screen and (min-width: 1281px) {
  div.mobileRabatt {
    display: none;
  }
}

@media screen and (max-width: 1280px) {
  div.desktopRabatt {
    display: none;
  }
}
